*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}

body{
    max-width: 144rem;
    min-height: 102.4rem;
    background: linear-gradient(to right ,rgb(19, 20, 20)  ,rgb(50, 68, 77),rgb(9, 10, 22));

}

.todo-container{
    min-height: 60rem;
    max-width: 60%;
    width: 60rem;
    margin: 5rem auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:1px 1px 2px 1px #a4a4a56e, -1px -1px 2px 1px #d2d2d481 ;
    background: linear-gradient(45deg ,rgba(10, 10, 10, 0.608)  ,rgba(25, 30, 34, 0.575),rgba(115, 122, 80, 0.664),#09090a);

}



.task-list{
    width: 90%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 5rem;
    margin-bottom: 2rem;
    border: none;
  

}



 li{
    min-height:6rem;
    width: 95%;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-weight: 100;
    list-style-type: none;
    padding: auto .5rem;
    border-radius: .5rem;
    margin: .9rem 1.8rem 7.8rem 1.8rem;
    display: flex;
    


}


.main-button{
    height: 3.6rem;
    width: 10rem;
    background: rgb(81, 180, 212);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    box-shadow: 0px 0px 3px 1px #313030b4 ;
    margin: 2rem;
    cursor: pointer;
}


.main-button:hover{
    transform: scale(.9);
    box-shadow: 1px 2px 15px 5px #302c2cb4 ;
    background-color: #07138191;


}


.sub-button{
    height: 3.2rem;
    width: 3.2rem;
    background: rgb(77, 94, 117);
    color: white;
    text-align: center;
    border-radius: 50%;
    padding: 0 .5px;
    font-size: 1.5rem;
    border: none;
    margin: 1rem;
}

.sub-button:hover{
    transform: scale(.9);
    box-shadow: 1px 2px 15px 5px #442b7cb4 ;
    background-color: #04457a;


}

.check{
    text-decoration: .4rem rgb(5, 3, 3) line-through;
    color: rgb(22, 138, 37);
    font-weight: 450;
    font-size: 2.8rem;
}

.not-check{
    text-decoration: none;
    text-transform: lowercase;
    color: beige;
    font-weight: 300;
    font-size: 2rem;

}


@media screen and (max-width:950px) {
    
    html{
            font-size: 50%;
    }
    li{
        font-size: 20px;
    }
    .todo-container{
        max-width: 70%;
    }
    
}


@media screen and (max-width:620px) {
    
    html{
            font-size: 50%;
    }

    li{
        font-size: 8px;
    }
    .todo-container{
        max-width: 90%;
    }
    
}
@media screen and (max-width:490px) {
    html{
        font-size: 40%;
}

    
    .todo-container{
        max-width: 95%;
    }
    
}
@media screen and (max-width:400px) {
    html{
        font-size: 38%;
}
    
    .todo-container{
        max-width: 98%;
    }
    
}